<h1>New Email</h1>

<%= form_with scope: :email, url: emails_path, local: true do |form| %>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address, value: 'richard.mands@sage.com' %>
  </p>

  <p>
    <%= form.label :subject %><br>
    <%= form.text_field :subject, value: 'Default Subject'%>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, value: 'The quick brown fox jumps over the lazy dog.' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
