<%= puts "@email" %>
<%= puts @email %>

<p>
  <strong>Address:</strong>
  <%= @email.address %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @email.text %>
</p>
