<p>
  <strong>Address:</strong>
  <%= @email.address %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @email.text %>
</p>

<%= button_to "Emails", emails_path, method: :get %>
<%= button_to "New Email", new_email_path, method: :get %>
